@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-charcoal font-inter text-lightGray;
  }

  .nav-links {
    @apply transition-all duration-300 ease-in-out;
  }

  .primary-btn {
    @apply inline-block  bg-goldenrod text-charcoal font-bold rounded transition-colors duration-200 hover:bg-goldenrod/80 focus:outline-none focus:ring-2 focus:ring-goldenrod focus:ring-offset-2 focus:ring-offset-charcoal nav-links;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@layer utilities {
  .animate-draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s ease forwards;
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 3s ease-in-out infinite;
    animation-delay: 1.5s;
  }

  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 2s;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
